# Semua file — fajriluckyboy sebagai owner utama
* @fajriluckyboy

# Folder docs — fajriluckyboy review semua perubahan docs
docs/ @fajriluckyboy

# Folder src — fajriluckyboy review perubahan src
src/ @fajriluckyboy
